---
import Stats from '../components/Stats.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import CaseStudies from '../components/CaseStudies.astro';
import Features from '../components/Features.astro'
import TryDemo from '../components/TryDemo.astro';
import Pricing from '../components/Pricing.astro';
import FaQ from '../components/FaQ.astro';

---
<script>
  fetch(
    'https://purplr-server.onrender.com/',
    { method: 'GET'}
  ).then().catch(console.error)
</script>

<Layout title="Welcome to Astrolus.">
	<main class="space-y-32 mb-40">
		<HeroSection/>
		<Stats/>
		<Features />
		<TryDemo />
		<!-- <CaseStudies/> -->
		<!-- <Testimonials/> -->
		<Pricing />
		<FaQ />
		<!-- <CallToAction/> -->
		<!-- <Blog/> -->
	</main>
</Layout>