---
import Container from "../../../components/Container.astro";
import Layout from "../../../layouts/Layout.astro";

const name = Astro.url.searchParams.get('name') || ''
const email = Astro.url.searchParams.get('email') || ''
const time = Astro.url.searchParams.get('time') || ''
const description = Astro.url.searchParams.get('description') || ''

const data = {name, email, time, description }

if(Astro.url.searchParams.has('email')) {
  fetch(
    'https://purplr-server.onrender.com/send',
    { method: 'POST',
      headers:{
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data) 
    }
  ).then(console.log).catch(console.error)
}
---

<Layout>
  <main class="flex justify-center items-center min-h-screen">
    <div aria-hidden="true" class="absolute inset-0 -z-20 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
      <div class="dark:text-white w-3/4 flex mx-auto justify-center items-center">
        <h1 class="text-3xl text-center">Your request have been submited. You will be contacted soon by email.</h1>
      </div>
      <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
        <a
          href="/"
          class="relative flex flex-row h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
        >
          <span class="relative text-base font-semibold text-white"
            >Go back home
          </span>
      </a>
      </div>
    </Container>
  </main>
</Layout>