---
import Container from "./Container.astro"
---

<div id='features'>
  <Container>
    <div class="relative mt-12 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <div class="relative overflow-hidden rounded-2xl bg-gray-200 bg-opacity-40 dark:bg-gray-900 from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800 dark:to-darker">
        <div class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-50 p-8 dark:bg-gray-900">
          <img class="w-10" src="./6292175-removebg-preview (1).png" alt="safety icon illustration" height="512" width="512">
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Content management system</h4>
            <p class="mt-3 text-gray-600 dark:text-gray-400">Edit all of your app content from a powerfull dashboard.</p>
          </div>
        </div>
      </div>

      <div class="relative overflow-hidden rounded-2xl bg-gray-200 bg-opacity-40 dark:bg-gray-900 from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800 dark:to-darker">
        <div class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-50 p-8 dark:bg-gray-900">
          <img class="w-10" src="./images/card.webp" alt="payment card icon illustration" height="512" width="512">
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white">In-app purchases</h4>
            <p class="mt-3 text-gray-600 dark:text-gray-400">Increase your earnings by selling premium content and subscriptions to your users.</p>
          </div>
        </div>
      </div>

      <div class="relative overflow-hidden rounded-2xl bg-gray-200 bg-opacity-40 dark:bg-gray-900 from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800 dark:to-darker">
        <div class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-50 p-8 dark:bg-gray-900">
          <img class="w-10" src="./download__1_-removebg-preview.png" alt="xp icon illustration" height="512" width="512">
          <div>
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Integration with existing software</h4>
            <p class="mt-3 text-gray-600 dark:text-gray-400">Integrate your app with existing website or backend server.</p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>