---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-5/12">
          <img
            src="./mobile-app-for-shopify.png"
            alt="Mobile app for shopify"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-7/12">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Lose less
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            You want to ensure the customers you worked so hard to acquire stay with you, and continue to buy your products.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <img
                  src="./handshake-svgrepo-com (1).svg"
                  alt="image"
                  loading="lazy"
                  width=""
                  height=""
                  class="w-7 h-7 m-auto"
                />        
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Retain former customers</h4>
                <p class="text-gray-500 dark:text-gray-400">It is more cost-effective to retain your customers than to find new ones. A mobile app does exactly that, once a customer downloads your app he will see your store logo every day.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <img
                  src="./dollar-symbol-svgrepo-com.svg"
                  alt="image"
                  loading="lazy"
                  width=""
                  height=""
                  class="w-7 h-7 m-auto"
                />                                       
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Former customers buy more</h4>
                <p class="text-gray-500 dark:text-gray-400">Long time customers are more willing to branch out and try other products from a company they trust. Be sure they don't forget about you, send them push notifications about your latest releases. </p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>